<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel='stylesheet' href="{{ url_for('static', filename='css/log.css') }}">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <h3>Sign In</h3>
            <div class="card-body">
                <form id="registration-form" action="" method="POST" >
                    {{ form.hidden_tag() }}
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        {{ form.email(class="form-control", placeholder="Email") }}
                        {% for error in form.email.errors %}
                        <span style="color: rgb(234, 255, 0);;">[{{ error }}]</span>
                        {% endfor %}

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        {{ form.password(class="form-control", placeholder="Password")}}
                        {% for error in form.password.errors %}
                        <span style="color: rgb(234, 255, 0);;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                        {{ form.remember_me() }}{{ form.remember_me.label(class="row align-items remember") }}
                    <div class="form-group">
                        {{ form.submit(class="btn float-right login_btn") }}
                    </div>
                    <small class="text-muted ml-2">
                        <a href="{{ url_for('users.reset_request')}}">Forgot Password?</a>
                    </small>
                </form>
            </div>
            <div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="{{url_for('users.registration')}}">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>    
</body>
</html>